
#Data_fluctuationScale{
    height: 340px;
    /* width: 540px; */
    width: calc(540px - 120px);
}

.data-show{
    /* float:right; */
    /* display: inline-block; */
    margin: 24px;
    padding: 24px;
    font-size: 16px;
    background: white;
    box-shadow: 0px 0px 35px;
}

.info-footer{
    margin-top: 3px;
    padding: 6px
}

.info-body{
    padding: 6px;
}

.info-title>*{
    margin-right: 6px;
}

.info-title{
    margin-bottom: 12px;
}

.font-small{
    font-size: .7rem;
}

.font-middle{
    font-size: 1rem
}

.font-large{
    font-size: 1.4rem;
}

.font-red{
    color: red;
}

.font-green{
    color: green;
}

.data-info{
    /* float:left; */
    /* display: inline-block; */
    /* 防止缩小时，模块在一起 */
    margin: 24px;
    padding: 24px;
    color: #98a6ad;
    font-size: 16px;
    background: white;
    box-shadow: 0px 0px 35px;
}

/* 浮动居中 */
.float-center>*{
    position: relative;
    float: left;
    left: -50%;
}
.float-center{
    position: relative;
    float: left;
    left: 50%;
}

.panel-body>ul{
    /* margin: 0 auto; */
    overflow: hidden;
}

.panel-body{
    position: relative;
    width: 100%;
    margin-top: 24px;
    padding: 0 12px;
}

.panel-head{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 12px;
    margin-bottom: 24px;
    line-height: 60px;
    /* 突显头部信息 */
    box-shadow: 0px 5px 10px gray;
}

.container{
    width:100%;
}

td{
    padding-left: 12px;
    padding-right: 12px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    font-size: 16px;
    background-color: lightblue;
    border: 2px solid orange;
    min-width: 1080px;
}

*{
    margin: 0;
    padding: 0;
    color: #6c757d;
    font-weight: normal;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: left;
    box-sizing: border-box;
}
